* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --BGC-red: #EB5160;
    --BGC-orange: #FF9505;
    --BGC-white: #FFF8F0;
    --BGC-blue: #3E92CC;
    --BGC-black: #071013;

    --Text-1: #d8d8d8;

    --Border-1: #393939;
}

.sub-sec {
    border: 1.5px solid var(--Border-1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: rgba(0, 0, 0, 0.387);

}

body {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: var(--BGC-black);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: clamp(1000px, 90vw, 1500px);
    background-color: var(--BGC-black);
    color: var(--Text-1);
    height: 100vh;
    padding: 50px;
    gap: 50px;
}

#slide-1,
#slide-2,
#slide-3,
#slide-4,
#slide-5 {
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--Border-1);
    height: fit-content;
    padding: 50px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
    font-size: 20px;
}

#slide-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 50px;
}

#slide-1 img {
    border: 1.5px solid white;
    border-radius: 10px;
}

.emphasise-1 {
    color: var(--BGC-orange);
}

#slide-2,
#slide-4 {
    gap: 20px;
}

header {
    font-size: 80px;
}

#slide-3 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 90%;
}
#slide-3 p:nth-child(2) {
    color: #ffffff;
}
#slide-3 p:nth-child(4) {
    color: #ff9483;
}
#slide-3 p:nth-child(6) {
    color: #d6ff83;
}
#slide-3 p:nth-child(8) {
    color: #9283ff;
}
#slide-3 p:nth-child(10) {
    color: #ff83d8;
}

#imLazy {
    display: none;
}

@media only screen and (max-width: 970px) {
    #main {
      display: none;
    }

    #imLazy {
        display: block;
        color: var(--Text-1);
    }
  }